$media-query:("xs": 0px, "sm": 576px, "md":768px, "lg":992px, "xl":1200px);
$font-size  :("xs": 1.2em, "sm": 1.2em, "md":1em, "lg":1em, "xl":1em);
$font-style : Helvetica,
sans-serif;
$primary-color : #333;


//loader
$color-point-loader:#a52b31;
$size-point-loader :15px;

$color-white:#ffffff;